@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Neutra Text";
  src:
    url("/neutra-regular.woff") format("woff"),
    url("/neutra-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neutra Text";
  src:
    url("/neutra-regular.woff") format("woff"),
    url("/neutra-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Neutra Text", sans-serif;
}
